<div class="col-lg-12 col-md-12 col-xs-12" style="text-align: center;">
    <h1>Customer View </h1>
</div>
<div class="row">
    <!-- Total Number of Customers-->
     <div class="col col-lg-4 col-md-4">
         <h3> Number of Customers </h3>
     </div>
    <!-- Expenses per Customer -->
    <div class="col col-lg-4 col-md-4">
        <h3> Expenses per customer </h3>
    </div>
    <!-- Average expenses per customer -->
    <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <h3> Average expense per customer </h3>
    </div>
    <!-- Average Annual sale per Customer -->
    <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <h3> Average annual sale per customer  </h3>
    </div>
    <!-- Top Customers [Table] -->
    <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <h3> Top Customers [table] </h3>
    </div>
    <!-- Top Products Sold [Table] -->
    <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
         <h3> Top Products Sold [table] </h3>
    </div>
</div>
