@section CustomScripts {
    @Scripts.Render("~/Scripts/HumanResources/getNumberOfEmployees.js")
    @Scripts.Render("~/Scripts/HumanResources/getNumberOfFemaleEmployees.js")
}

<div class="col-lg-12 col-md-12 col-xs-12" style="text-align: center;">
    <h1>Human Resources View </h1>
</div>
<div class="row">

    <div class="col col-lg-4 col-md-4">
        <h3> Revenue Per Employee </h3>
        <span class="revenuePerEmployee"></span>
    </div>

    <div class="col col-lg-4 col-md-4">
        <h3> Number Of Costumers For Employee </h3>
        <span class="numberOfCostumersForEmployee"></span>
    </div>
    <div class="col col-lg-4 col-md-4">
        <h3> Number Of Employees </h3>
        <span class="numberOfEmployees"></span>
    </div>
    <div class="col col-lg-4 col-md-4">
        <h3> Average Emplyoment Time in the Company </h3>
        <span class="averageEmplyomentTimeInTheCompany"></span>
    </div>
    <div class="col col-lg-4 col-md-4">
        <h3> Average Employee By Age </h3>
        <span class="averageEmployeeAge"></span>
    </div>
    <div class="col col-lg-4 col-md-4">
        <h3> Number Of Female Employees </h3>
        <span class="numberOfFemaleEmployees"></span>
    </div>
    <div class="col col-lg-4 col-md-4">
        <h3> Human Resources Expenses </h3>
        <span class="humanResourcesExpenses"></span>
    </div>
</div>