<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <ul>
            <li>
                <h3> Total Turnover </h3>
            </li>
            <li>
                <h3> Total Expenses </h3>
            </li>
            <li>
                <h3> Top Customers </h3>
            </li>
            <li>
                <h3> Expenses per customer </h3>
            </li>
            <li>
                <h3> Average Sale Price </h3>
            </li>
            <li>
                <h3> Human Resources Spendings </h3>
            </li>
            <li>
                <h3> Sales Revenue Growth [Monthly] </h3>
            </li>
            <li>
                <h3> Top Products </h3>
            </li>
            <li>
                <h3> Orders/Inventory Ratio [for top 10 products] </h3>
            </li>
        </ul>
    </section>
</div>
