<div class="col-lg-12 col-md-12 col-xs-12" style="text-align: center;">
    <h1>Financial View </h1>
</div>
<div class="row">
    <!-- Total Turnover -->
    <div class="col col-lg-4 col-md-4">
        <h3> Total Turnover </h3>
        <span class="totalTurnover"></span>
    </div>

    <!-- Total Expenses -->
    <div class="col col-lg-4 col-md-4">
        <h3> Total Expenses </h3>
    </div>

    <!-- Average Sales Price -->
    <div class="col col-lg-4 col-md-4">
        <h3> Average Sales Price </h3>
    </div>

    <!-- Accounts Payable -->
    <div class="col col-lg-4 col-md-4">
        <h3> Accounts Payable </h3>
    </div>

    <!-- Accounts Receivable -->
    <div class="col col-lg-4 col-md-4">
        <h3> Accounts Receivable </h3>
    </div>

    <!-- Cash Flow -->
    <div class="col col-lg-4 col-md-4">
        <h3> Cash Flow </h3>
    </div>

    <!-- Total Assets -->
    <div class="col col-lg-4 col-md-4">
        <h3> Total Assets </h3>
    </div>

    <!-- Total Liabilities -->
    <div class="col col-lg-4 col-md-4">
        <h3> Total Liabilities </h3>
    </div>

    <!-- Sales Revenue Growth -->
    <div class="col col-lg-4 col-md-4">
        <h3> Sales Revenue Growth </h3>
    </div>
</div>
